body{
	
	background-color: #ccc;
}



p, li{
	
	font-family: "times new roman";
			
}

h1, h2{
	font-family: "arial";
	color:  #0039e6;
}

h2{
	
	color: #001a66;
	
}

a{
	
	text-decoration: none;
}

a:hover{
	
	text-decoration: underline;
	
}

p::first-letter {
	 
	 font-size: 1.5em;
}

/*

@-webkit-keyframes scroll{
	0%{
		-webkit-transform: translate(0, 0);	
    }
	100%{
		-webkit-transform: translate(-100, 0);	
    }	
}

.marquee{
	
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow:hidden;
}

.marquee span{
	
	display: inline-block;
	padding-left: 100%;
	-webkit-animation:scroll 5s infinte linear;
}

*/